# 1. SETTINGS

In [94]:
# import packages
import pandas as pd
import numpy as np
import scipy.stats
import os

In [95]:
# pandas options
pd.set_option('display.max_columns', None)

In [96]:
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [97]:
# garbage collection
import gc
gc.enable()

In [98]:
# helper functions
import functions
from functions import *

# 2. IMPORT

In [99]:
# import data
train = pd.read_csv('../data/X_train.csv', sep = ',', decimal = '.', error_bad_lines = False)
y     = pd.read_csv('../data/y_train.csv', sep = ',', decimal = '.', error_bad_lines = False)
test  = pd.read_csv('../data/X_test.csv',  sep = ',', decimal = '.', error_bad_lines = False)
print(train.shape)
print(y.shape)
print(test.shape)

(8880, 31)
(8880, 2)
(2960, 31)

b'Skipping line 2168: expected 31 fields, saw 33\nSkipping line 4822: expected 31 fields, saw 37\nSkipping line 4859: expected 31 fields, saw 37\nSkipping line 7342: expected 31 fields, saw 37\n'

In [100]:
# check data
train.head()

,id,images_count,image_width,image_height,image_url,product_description,product_size,material,age,warranty,year,color,product_width,wifi,condition,product_length,shoe_size,vintage,brand,author,editor,product_height,weight,price,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,product_name,store_name
0,0,3,3458.0,2552.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Superbe petit top bustier avec explosion de co...,44,100 % polyester,NaN,NaN,NaN,Multicolore,NaN,NaN,bon état,NaN,NaN,False,NaN,NaN,NaN,NaN,200.0,4.5,mode,"tops, t-shirts, débardeurs femme",NaN,NaN,NaN,Top bustier multicolore,Emmaüs 88 Neufchateau
1,1,2,2486.0,2254.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,"Radio ITT Océnic Flirt, année 70\nPour déco",NaN,Plastique,NaN,NaN,NaN,Jaune,NaN,NaN,en l'état,NaN,NaN,True,ITT Océanic,NaN,NaN,NaN,1000.0,15.0,mobilier - deco,bibelots et objets déco,NaN,NaN,NaN,Radio ITT Océanic,Communauté Emmaüs Thouars (magasin Parthenay)
2,2,3,1536.0,1536.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Veste boléro à manches courtes NÛMPH. Gris chi...,40,"Polyester, coton, laine",NaN,NaN,NaN,Gris,NaN,NaN,neuf,NaN,NaN,False,Nûmph,NaN,NaN,NaN,360.0,16.0,label selection,mode,mode femme,NaN,NaN,NaN,Label Emmaüs Chambéry
3,3,2,1100.0,1100.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Encrier plumier en verre. De forme carrée le ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bon état,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520.0,24.0,mobilier - deco,autres objets,NaN,NaN,NaN,Encrier Plumier en verre,Emmaüs Lyon
4,4,2,450.0,450.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Si vous souhaitez acquérir un appareil puissan...,NaN,NaN,NaN,6 mois,NaN,Blanc,NaN,True,reconditionné,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,139.0,multimédia,smartphones,NaN,NaN,NaN,HUAWEI Honor 5X Blanc - Débloqué - Très bon état.,La Bootique des Ateliers du Bocage

In [101]:
# check data
test.head()

,id,images_count,image_width,image_height,image_url,product_description,product_size,material,age,warranty,year,color,product_width,wifi,condition,product_length,shoe_size,vintage,brand,author,editor,product_height,weight,price,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,product_name,store_name
0,0,1,616.0,616.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,<p><strong>Livre d'occasion écrit par Stephen ...,NaN,NaN,NaN,NaN,1999.0,NaN,NaN,NaN,bon état,NaN,NaN,NaN,NaN,Stephen King,J'Ai Lu,NaN,149.0,1.8,librairie,NaN,NaN,NaN,NaN,Peur bleue - Stephen King,Booki - la Librairie Solidaire de Retrilog
1,1,2,3000.0,4000.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Eléguant haut transparent pour femme imprimé ...,XXL,polyester,NaN,NaN,NaN,Multicolore,NaN,NaN,bon état,NaN,NaN,False,Woman,NaN,NaN,NaN,100.0,3.0,mode,"tops, t-shirts, débardeurs femme",NaN,NaN,NaN,vêtement femme Woman,Emmaüs 88 Neufchateau
2,2,3,2448.0,2448.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Collants bleu motifs en losange discret femme ...,NaN,"85 % polyamide, 15% élasthanne.",NaN,NaN,NaN,Bleu,NaN,NaN,neuf,NaN,NaN,False,KUNERT,NaN,NaN,NaN,200.0,3.0,mode,accessoires femme,label selection,NaN,NaN,Collants bleu motifs en losange discret femme ...,Emmaüs Sacré Dressing !
3,3,10,2448.0,2448.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Un beau vase à couvercle en porcelaine\nde la ...,NaN,Porcelaine,NaN,NaN,NaN,Multicolore,NaN,NaN,bon état,NaN,NaN,NaN,Kaiser Porcelaine,NaN,NaN,NaN,2130.0,20.0,mobilier - deco,Vases et Pots,NaN,NaN,NaN,Vase à Couvercle,Emmaüs Vannes - la Boutique en ligne
4,4,3,2753.0,2974.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Ancien Boulier d'écolier en bois . Les enfants...,NaN,NaN,NaN,NaN,NaN,Multicolore,NaN,NaN,en l'état,NaN,NaN,True,NaN,NaN,NaN,NaN,340.0,7.5,enfance,"jouets anciens, jouets en bois",NaN,NaN,NaN,Ancien Boulier d'écolier en bois,Emmaüs 88 Neufchateau

# 3. MERGER

In [102]:
# target variable
train['duration'] = y['duration']
test['duration']  = np.nan

In [103]:
# align columns
train = train.reindex_axis(sorted(train.columns), axis = 1)
test  = test.reindex_axis(sorted(test.columns),   axis = 1)

# check equalty
train.columns == test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [104]:
# concatenate
df = pd.concat([train, test], axis = 0)
df = df.reset_index(drop = True)
del train, test
print(df.shape)

(11840, 32)

In [105]:
# check distributions
df.describe()

,duration,id,image_height,image_width,images_count,price,product_height,product_length,product_width,shoe_size,weight,year
count,8880.000000,11840.00000,11770.000000,11770.000000,11840.000000,11840.000000,163.000000,131.000000,153.00000,300.000000,1.183600e+04,1.983000e+03
mean,0.991667,3699.50000,1800.660918,1804.888785,3.654645,21.795489,63.036810,67.487023,45.79281,39.033333,8.965613e+03,1.166698e+04
std,0.820628,2598.90433,1103.081066,1021.465572,2.057843,45.683665,31.945389,41.744412,28.43733,2.920156,9.095875e+04,4.311602e+05
min,0.000000,0.00000,64.000000,58.000000,0.000000,0.500000,9.000000,23.000000,10.00000,16.000000,1.000000e-01,0.000000e+00
25%,0.000000,1479.75000,962.750000,1000.000000,2.000000,6.000000,45.750000,35.000000,30.00000,37.000000,2.520000e+02,1.979000e+03
50%,1.000000,2959.50000,1536.000000,1536.000000,3.000000,10.000000,60.000000,50.000000,40.00000,39.000000,5.000000e+02,1.998000e+03
75%,2.000000,5919.25000,2448.000000,2448.000000,5.000000,22.000000,72.000000,80.000000,50.00000,41.000000,1.000000e+03,2.007000e+03
max,2.000000,8879.00000,6016.000000,5472.000000,29.000000,2200.000000,198.000000,250.000000,180.00000,48.000000,2.700000e+06,1.920193e+07

# 4. PROCESSING

### DROP IRRELEVANT FEATURES

In [106]:
# remove columns with a single value
print(df.shape)
df = df.loc[:, df.nunique(dropna = False) != 1]
print(df.shape)

(11840, 32)
(11840, 32)

In [107]:
# remove irrelevant columns
print(df.shape)
drops = ['image_url']
for var in drops:
    del df[var]
print(df.shape)

(11840, 32)
(11840, 31)

### MISSING VALUES

In [108]:
# check missings
count_missings(df)

                Total    Percent
sub_category_4  11748  99.222973
wifi            11739  99.146959
warranty        11713  98.927365
product_length  11709  98.893581
product_width   11687  98.707770
product_height  11677  98.623311
age             11672  98.581081
shoe_size       11540  97.466216
sub_category_3  10612  89.628378
author           9957  84.096284
editor           9930  83.868243
year             9857  83.251689
product_size     8608  72.702703
sub_category_2   7060  59.628378
material         6588  55.641892
brand            6076  51.317568
color            4778  40.354730
vintage          4030  34.037162
duration         2960  25.000000
sub_category_1   2136  18.040541
product_name     1061   8.961149
image_width        70   0.591216
image_height       70   0.591216
condition          27   0.228041
category            5   0.042230
weight              4   0.033784

In [109]:
# impute NAs with 0
nas = []
for var in nas:
    df[var].fillna(0, inplace = True)

In [110]:
# impute missings with means
#target = df['duration'].copy()
#df = df.replace([np.inf, -np.inf], np.nan)
#means = df.mean(axis = 0)
#df.fillna(means, inplace = True)
#df['duration'] = target

### VARIABLE TYPES

In [111]:
# check data types
df.dtypes

age                     object
author                  object
brand                   object
category                object
color                   object
condition               object
duration               float64
editor                  object
id                       int64
image_height           float64
image_width            float64
images_count             int64
material                object
price                  float64
product_description     object
product_height         float64
product_length         float64
product_name            object
product_size            object
product_width          float64
shoe_size              float64
store_name              object
sub_category_1          object
sub_category_2          object
sub_category_3          object
sub_category_4          object
vintage                 object
warranty                object
weight                 float64
wifi                    object
year                   float64
dtype: object

In [112]:
# convert float to integers
to_int = []
for col in to_int:
    df[col] = df[col].astype('int64')
    
# convert boolean to objects
bools = []
for var in bools:
    df[var] = df[var].astype('object')
    
# convert string to dates
dates = []
for var in dates:
    df[var] = pd.to_datetime(df[var].astype('str'), infer_datetime_format = True)

### AGGREGATIONS

In [113]:
# aggregated data
stats = ['mean', 'std', 'min', 'max']
df_agg = aggregate_data(df, group_var = 'category', num_stats = stats, var_label = 'category')
df_agg.head()

- Preparing the dataset...
- Extracted 18 factors and 12 numerics...
- Aggregating numeric features...
- Aggregating factor features...
- Final dimensions: (11, 67)

,category,shoe_size_mean,shoe_size_std,shoe_size_min,shoe_size_max,product_height_mean,product_height_std,product_height_min,product_height_max,duration_mean,duration_std,duration_min,duration_max,product_width_mean,product_width_std,product_width_min,product_width_max,price_mean,price_std,price_min,price_max,image_height_mean,image_height_std,image_height_min,image_height_max,image_width_mean,image_width_std,image_width_min,image_width_max,images_count_mean,images_count_std,images_count_min,images_count_max,weight_mean,weight_std,weight_min,weight_max,year_mean,year_std,year_min,year_max,id_mean,id_std,id_min,id_max,product_length_mean,product_length_std,product_length_min,product_length_max,age_mode,author_mode,brand_mode,color_mode,condition_mode,editor_mode,material_mode,product_description_mode,product_name_mode,product_size_mode,store_name_mode,sub_category_1_mode,sub_category_2_mode,sub_category_3_mode,sub_category_4_mode,vintage_mode,warranty_mode,wifi_mode
0,créations,NaN,NaN,NaN,NaN,52.000,NaN,52.0,52.0,0.909091,0.943880,0.0,2.0,50.0,NaN,50.0,50.0,27.993333,32.738803,4.0,135.0,2472.666667,1546.606962,264.0,5184.0,2284.333333,1157.087826,191.0,3456.0,3.200000,1.820518,1,7,1550.400000,2742.844400,70.0,10000.0,NaN,NaN,NaN,NaN,3882.666667,2027.477802,329,7825,30.0,NaN,30.0,30.0,0,0,Le Léopard By François,Multicolore,neuf,0,coton,Boîte de 30 crayons de couleurs de la marque C...,Sac à main réversible jean et laine,TU,Le Léopard,mode femme,"gilets, pulls femme",Denim pour tous !,0,False,0,0
1,culture - loisirs,NaN,NaN,NaN,NaN,70.000,NaN,70.0,70.0,0.465116,0.766838,0.0,2.0,33.0,NaN,33.0,33.0,23.038182,52.681789,2.0,390.0,1743.418182,1278.558733,128.0,4608.0,1659.381818,1035.499888,214.0,4272.0,3.327273,2.037196,1,10,920.072727,1319.659424,25.0,6700.0,1975.956522,25.967599,1887.0,2015.0,3935.763636,2739.793186,24,8790,49.0,NaN,49.0,49.0,0,Uderzo et Goscinny,Louis Lot,Multicolore,bon état,Dargaud,"Metal, plastic","Relié, 48 pages, couverture usagée",24h chrono saison 1 et saison 2,0,Emmaüs 88 Neufchateau,image et son,BD et mangas,Disquaire Day,0,False,0,0
2,enfance,25.000000,NaN,25.0,25.0,90.000,NaN,90.0,90.0,0.869176,0.798843,0.0,2.0,45.0,NaN,45.0,45.0,20.337736,20.122755,1.0,150.0,2040.168675,1041.901741,185.0,5472.0,1931.372155,932.140650,185.0,5472.0,3.982690,2.477304,0,29,5121.953271,63149.794301,20.0,1000000.0,1971.000000,49.497475,1936.0,2006.0,3609.111851,2664.685280,4,8863,75.0,NaN,75.0,75.0,12m,journal de mickey,SEGA,Multicolore,bon état,Casterman,100% coton,le jeu Guitar of Rock Warriors of Rock\n La no...,Poupée en Porcelaine,XS,Emmaüs 88 Neufchateau,"jouets anciens, jouets en bois",label selection,poupées,Le Ski,True,0,0
3,label selection,38.782051,2.049057,36.0,44.0,73.375,26.948639,41.5,106.0,1.024811,0.847069,0.0,2.0,84.8,64.877384,34.5,180.0,18.304815,32.313359,1.0,450.0,2010.321517,776.023623,300.0,4812.0,2260.431162,844.671924,316.0,4768.0,3.948063,1.853933,1,21,5316.641715,66023.722534,1.0,1000000.0,1971.225806,62.815980,1657.0,2012.0,3848.954658,2665.949500,2,8878,109.1,90.763704,33.5,250.0,8a,Marvel,Monoprix,Noir,bon état,Gallimard,Coton,Stylo à bille noir et argenté de la marque Bal...,Echarpe & bonnet neufs laine et cachemire,38,Le Léopard,mode,mode femme,les coups de coeur des vendeurs,Vêtements Vintage Femme,False,6 mois,False
4,les coups de coeur des vendeurs,40.000000,2.236068,37.0,43.0,NaN,NaN,NaN,NaN,0.880000,0.798979,0.0,2.0,NaN,NaN,NaN,NaN,62.028986,127.125109,3.0,795.0,1606.985075,1072.111348,300.0,4608.0,1553.611940,1041.950967,306.0,4608.0,4.028986,2.064910,0,10,23977.637681,135723.645085,20.0,1000000.0,1923.000000,100.409163,1852.0,1994.0,3963.608696,2575.469896,118,8861,NaN,NaN,NaN,NaN,0,Abbé Pierre,Mikado,Multicolore,bon état,FIXOT,Coton,\n1933 Début de la fabrication des Hermès port...,Sac à main en cuir marron grande marque,M,Emmaüs Liberté Ivry,objets déco et vaisselle,bibelots et objets déco,Enfin le printemps !,Le Cuir,True,0,0

In [114]:
# remove target aggregations
drops = ['duration', 'id']
for var in drops:
    vars_to_drop = [var + '_' + s for s in stats]
    for var_to_drop in vars_to_drop:
        del df_agg[var_to_drop]
df_agg.shape

(11, 59)

In [115]:
# merge to the data
print(df.shape)
df = df.merge(df_agg, how = 'left', on = 'category')
print(df.shape)

(11840, 31)
(11840, 89)

# 5. WORKING WITH FEATURES

### EXTRACT FEATURES FROM TEXT

In [116]:
# compute features
text_vars = ['product_description', 'product_name', 'store_name', 'category', 'material',
             'sub_category_1', 'sub_category_2', 'sub_category_3', 'sub_category_4']
print(df.shape)
df = add_text_features(df, strings = text_vars, k = 5, keep = True)
print(df.shape)

(11840, 89)
(11840, 152)

### CREATE NEW FEATURES

In [117]:
df['image_pixels'] = df['image_height'] * df['image_width']

In [118]:
df['product_volume'] = df['product_height'] * df['product_length'] * df['product_width']

### ENCODE FACTORS

In [119]:
# convert categorical features
df = encode_factors(df, method = 'label')
df.shape

(11840, 154)

# 6. EXPORT

In [120]:
# export CSV
df.to_csv('../data/data_v2.csv', index = False)
df.shape

(11840, 154)